---
import { Image } from "astro:assets"

import ap6_1 from '../assets/fulls/ap6/01.jpg';
import ap6_2 from '../assets/fulls/ap6/02.jpg';
import ap6_3 from '../assets/fulls/ap6/03.jpg';
import ap6_4 from '../assets/fulls/ap6/04.jpg';
import ap6_5 from '../assets/fulls/ap6/05.jpg';
import ap6_6 from '../assets/fulls/ap6/06.jpg';
import ap6_7 from '../assets/fulls/ap6/07.jpg';

import th_ap6_1 from '../assets/thumbs/ap6/01.jpg';
import th_ap6_2 from '../assets/thumbs/ap6/02.jpg';
import th_ap6_3 from '../assets/thumbs/ap6/03.jpg';
import th_ap6_4 from '../assets/thumbs/ap6/04.jpg';
import th_ap6_5 from '../assets/thumbs/ap6/05.jpg'; 
import th_ap6_6 from '../assets/thumbs/ap6/06.jpg';
import th_ap6_7 from '../assets/thumbs/ap6/07.jpg';

import INT_1 from '../assets/fulls/INT/1.jpg';
import INT_2 from '../assets/fulls/INT/2.jpg';
import INT_3 from '../assets/fulls/INT/3.jpg';
import INT_4 from '../assets/fulls/INT/4.jpg';
import INT_5 from '../assets/fulls/INT/5.jpg';

import th_INT_1 from '../assets/thumbs/INT/1.jpg';
import th_INT_2 from '../assets/thumbs/INT/2.jpg';
import th_INT_3 from '../assets/thumbs/INT/3.jpg';
import th_INT_4 from '../assets/thumbs/INT/4.jpg';
import th_INT_5 from '../assets/thumbs/INT/5.jpg'; 

---

<!-- Two -->
<section id="two">
	<h2>ap6</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_1.src} class="image fit thumb"><Image src={th_ap6_1} alt="" /></a>
			<h3>ap6 p1</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_2.src} class="image fit thumb"><Image src={th_ap6_2} alt="" /></a>
			<h3>ap6 p2</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_3.src} class="image fit thumb"><Image src={th_ap6_3} alt="" /></a>
			<h3>ap6 p3</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_4.src} class="image fit thumb"><Image src={th_ap6_4} alt="" /></a>
			<h3>ap6 p4</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_5.src} class="image fit thumb"><Image src={th_ap6_5} alt="" /></a>
			<h3>ap6 p5</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_6.src} class="image fit thumb"><Image src={th_ap6_6} alt="" /></a>
			<h3>ap6 p6</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_7.src} class="image fit thumb"><Image src={th_ap6_7} alt="" /></a>
			<h3>ap6 p7</h3>
		</article>		
	</div>

	<h2>INT</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_1.src} class="image fit thumb"><Image src={th_INT_1} alt="" /></a>
			<h3>ap7 p1</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_2.src} class="image fit thumb"><Image src={th_INT_2} alt="" /></a>
			<h3>ap7 p2</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_3.src} class="image fit thumb"><Image src={th_INT_3} alt="" /></a>
			<h3>ap7 p3</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_4.src} class="image fit thumb"><Image src={th_INT_4} alt="" /></a>
			<h3>ap7 p4</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_5.src} class="image fit thumb"><Image src={th_INT_5} alt="" /></a>
			<h3>ap7 p5</h3>
		</article>
	</div>
</section>
