---
import { Image } from "astro:assets"

import ap6_1 from '../assets/fulls/ap6/01.jpg';
import ap6_2 from '../assets/fulls/ap6/02.jpg';
import ap6_3 from '../assets/fulls/ap6/03.jpg';
import ap6_4 from '../assets/fulls/ap6/04.jpg';
import ap6_5 from '../assets/fulls/ap6/05.jpg';
import ap6_6 from '../assets/fulls/ap6/06.jpg';
import ap6_7 from '../assets/fulls/ap6/07.jpg';

import ap9_1 from '../assets/fulls/ap9/1.jpg';
import ap9_2 from '../assets/fulls/ap9/2.jpg';
import ap9_3 from '../assets/fulls/ap9/3.jpg';
import ap9_4 from '../assets/fulls/ap9/4.jpg';
import ap9_5 from '../assets/fulls/ap9/5.jpg';
import ap9_6 from '../assets/fulls/ap9/6.jpg';
import ap9_7 from '../assets/fulls/ap9/7.jpg';
import ap9_8 from '../assets/fulls/ap9/8.jpg';
import ap9_9 from '../assets/fulls/ap9/9.jpg';
import ap9_10 from '../assets/fulls/ap9/10.jpg';
import ap9_11 from '../assets/fulls/ap9/11.jpg';

import ap1_1 from '../assets/fulls/ap1/1.jpg';
import ap1_2 from '../assets/fulls/ap1/2.jpg';
import ap1_3 from '../assets/fulls/ap1/3.jpg';
import ap1_4 from '../assets/fulls/ap1/4.jpg';

import ap3_1 from '../assets/fulls/ap3/1.jpg';
import ap3_2 from '../assets/fulls/ap3/2.jpg';
import ap3_3 from '../assets/fulls/ap3/3.jpg';
import ap3_4 from '../assets/fulls/ap3/4.jpg';
import ap3_5 from '../assets/fulls/ap3/5.jpg';

import INT_1 from '../assets/fulls/INT/1.jpg';
import INT_2 from '../assets/fulls/INT/2.jpg';
import INT_3 from '../assets/fulls/INT/3.jpg';
import INT_4 from '../assets/fulls/INT/4.jpg';
import INT_5 from '../assets/fulls/INT/5.jpg';

import DRM_1 from '../assets/fulls/DRM/1.jpg';
import DRM_2 from '../assets/fulls/DRM/2.jpg';
import DRM_3 from '../assets/fulls/DRM/3.jpg';
import DRM_4 from '../assets/fulls/DRM/4.jpg';
import DRM_5 from '../assets/fulls/DRM/6.jpg';

import DRM2_1 from '../assets/fulls/DRM2/D1.jpg';
import DRM2_2 from '../assets/fulls/DRM2/D2.jpg';
import DRM2_3 from '../assets/fulls/DRM2/D3.jpg';

import LVG1_1 from '../assets/fulls/LVG1/1.jpg';
import LVG1_2 from '../assets/fulls/LVG1/2.jpg';
import LVG1_3 from '../assets/fulls/LVG1/3.jpg';
import LVG1_4 from '../assets/fulls/LVG1/4.jpg';
import LVG1_5 from '../assets/fulls/LVG1/5.jpg';

import LVG2_1 from '../assets/fulls/LVG2/1.jpg';
import LVG2_2 from '../assets/fulls/LVG2/2.jpg';
import LVG2_3 from '../assets/fulls/LVG2/3.jpg';
import LVG2_4 from '../assets/fulls/LVG2/4.jpg';

import LVG3_1 from '../assets/fulls/LVG3/1.jpg';
import LVG3_2 from '../assets/fulls/LVG3/2.jpg';
import LVG3_3 from '../assets/fulls/LVG3/3.jpg';
---

<!-- Two -->
<section id="two">
	<h2>AP_9</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_1.src} class="image fit thumb"><Image src={ap9_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_2.src} class="image fit thumb"><Image src={ap9_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_3.src} class="image fit thumb"><Image src={ap9_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_4.src} class="image fit thumb"><Image src={ap9_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_5.src} class="image fit thumb"><Image src={ap9_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_6.src} class="image fit thumb"><Image src={ap9_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_7.src} class="image fit thumb"><Image src={ap9_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_8.src} class="image fit thumb"><Image src={ap9_8} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_9.src} class="image fit thumb"><Image src={ap9_9} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_10.src} class="image fit thumb"><Image src={ap9_10} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_11.src} class="image fit thumb"><Image src={ap9_11} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>			
	</div>

	<h2>AP_1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap1_1.src} class="image fit thumb"><Image src={ap1_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap1_2.src} class="image fit thumb"><Image src={ap1_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap1_3.src} class="image fit thumb"><Image src={ap1_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap1_4.src} class="image fit thumb"><Image src={ap1_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>	
	</div>

	<h2>AP_3</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap3_1.src} class="image fit thumb"><Image src={ap3_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap3_2.src} class="image fit thumb"><Image src={ap3_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap3_3.src} class="image fit thumb"><Image src={ap3_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap3_4.src} class="image fit thumb"><Image src={ap3_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap3_5.src} class="image fit thumb"><Image src={ap3_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>

	<h2>AP_6</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_1.src} class="image fit thumb"><Image src={ap6_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_2.src} class="image fit thumb"><Image src={ap6_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_3.src} class="image fit thumb"><Image src={ap6_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_4.src} class="image fit thumb"><Image src={ap6_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_5.src} class="image fit thumb"><Image src={ap6_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_6.src} class="image fit thumb"><Image src={ap6_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_7.src} class="image fit thumb"><Image src={ap6_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>

	<h2>INT_1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_1.src} class="image fit thumb"><Image src={INT_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_2.src} class="image fit thumb"><Image src={INT_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_3.src} class="image fit thumb"><Image src={INT_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_4.src} class="image fit thumb"><Image src={INT_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_5.src} class="image fit thumb"><Image src={INT_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>DRM_1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_1.src} class="image fit thumb"><Image src={DRM_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_2.src} class="image fit thumb"><Image src={DRM_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_3.src} class="image fit thumb"><Image src={DRM_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_4.src} class="image fit thumb"><Image src={DRM_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_5.src} class="image fit thumb"><Image src={DRM_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>

	<h2>DRM_2</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM2_1.src} class="image fit thumb"><Image src={DRM2_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM2_2.src} class="image fit thumb"><Image src={DRM2_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM2_3.src} class="image fit thumb"><Image src={DRM2_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>	
	</div>	

	<h2>LVG_1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_1.src} class="image fit thumb"><Image src={LVG1_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_2.src} class="image fit thumb"><Image src={LVG1_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_3.src} class="image fit thumb"><Image src={LVG1_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_4.src} class="image fit thumb"><Image src={LVG1_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_5.src} class="image fit thumb"><Image src={LVG1_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>LVG_2</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_1.src} class="image fit thumb"><Image src={LVG2_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_2.src} class="image fit thumb"><Image src={LVG2_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_3.src} class="image fit thumb"><Image src={LVG2_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_4.src} class="image fit thumb"><Image src={LVG2_4} alt="" class="cover-fit" width="300" height="300"  /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>LVG_3</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG3_1.src} class="image fit thumb"><Image src={LVG3_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG3_2.src} class="image fit thumb"><Image src={LVG3_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG3_3.src} class="image fit thumb"><Image src={LVG3_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>
</section>
