---
import { Image } from "astro:assets"

import ap4_1 from '../assets/fulls/ap4/1.jpg';
import ap4_2 from '../assets/fulls/ap4/2.jpg';
import ap4_3 from '../assets/fulls/ap4/3.jpg';
import ap4_4 from '../assets/fulls/ap4/4.jpg';
import ap4_5 from '../assets/fulls/ap4/5.jpg';
import ap4_6 from '../assets/fulls/ap4/6.jpg';
import ap4_7 from '../assets/fulls/ap4/7.jpg';
import ap4_8 from '../assets/fulls/ap4/8.jpg';
import ap4_9 from '../assets/fulls/ap4/9.jpg';
import ap4_10 from '../assets/fulls/ap4/10.jpg';
import ap4_11 from '../assets/fulls/ap4/11.jpg';
import ap4_12 from '../assets/fulls/ap4/12.jpg';

import ap8_1 from '../assets/fulls/ap8/1.jpg';
import ap8_2 from '../assets/fulls/ap8/2.jpg';
import ap8_3 from '../assets/fulls/ap8/3.jpg';
import ap8_4 from '../assets/fulls/ap8/4.jpg';
import ap8_5 from '../assets/fulls/ap8/5.jpg';
import ap8_6 from '../assets/fulls/ap8/6.jpg';
import ap8_7 from '../assets/fulls/ap8/7.jpg';
import ap8_8 from '../assets/fulls/ap8/8.jpg';
import ap8_9 from '../assets/fulls/ap8/9.jpg';
import ap8_10 from '../assets/fulls/ap8/10.jpg';

import apwbisbi_1 from '../assets/fulls/apwbisbi/1.jpg';
import apwbisbi_2 from '../assets/fulls/apwbisbi/2.jpg';
import apwbisbi_3 from '../assets/fulls/apwbisbi/3.jpg';
import apwbisbi_4 from '../assets/fulls/apwbisbi/4.jpg';
import apwbisbi_5 from '../assets/fulls/apwbisbi/5.jpg';
import apwbisbi_6 from '../assets/fulls/apwbisbi/6.jpg';
import apwbisbi_7 from '../assets/fulls/apwbisbi/7.jpg';
import apwbisbi_8 from '../assets/fulls/apwbisbi/8.jpg';
import apwbisbi_9 from '../assets/fulls/apwbisbi/9.jpg';
import apwbisbi_10 from '../assets/fulls/apwbisbi/10.jpg';
import apwbisbi_11 from '../assets/fulls/apwbisbi/11.jpg';
import apwbisbi_12 from '../assets/fulls/apwbisbi/12.jpg';
import apwbisbi_13 from '../assets/fulls/apwbisbi/13.jpg';
import apwbisbi_14 from '../assets/fulls/apwbisbi/14.jpg';
import apwbisbi_15 from '../assets/fulls/apwbisbi/15.jpg';

import ap6_1 from '../assets/fulls/ap6/01.jpg';
import ap6_2 from '../assets/fulls/ap6/02.jpg';
import ap6_3 from '../assets/fulls/ap6/03.jpg';
import ap6_4 from '../assets/fulls/ap6/04.jpg';
import ap6_5 from '../assets/fulls/ap6/05.jpg';
import ap6_6 from '../assets/fulls/ap6/06.jpg';
import ap6_7 from '../assets/fulls/ap6/07.jpg';

import ap9_1 from '../assets/fulls/ap9/1.jpg';
import ap9_2 from '../assets/fulls/ap9/2.jpg';
import ap9_3 from '../assets/fulls/ap9/3.jpg';
import ap9_4 from '../assets/fulls/ap9/4.jpg';
import ap9_5 from '../assets/fulls/ap9/5.jpg';
import ap9_6 from '../assets/fulls/ap9/6.jpg';
import ap9_7 from '../assets/fulls/ap9/7.jpg';
import ap9_8 from '../assets/fulls/ap9/8.jpg';
import ap9_9 from '../assets/fulls/ap9/9.jpg';
import ap9_10 from '../assets/fulls/ap9/10.jpg';
import ap9_11 from '../assets/fulls/ap9/11.jpg';

import ap1_1 from '../assets/fulls/ap1/1.jpg';
import ap1_2 from '../assets/fulls/ap1/2.jpg';
import ap1_3 from '../assets/fulls/ap1/3.jpg';
import ap1_4 from '../assets/fulls/ap1/4.jpg';

import barbershopx_1 from '../assets/fulls/barbershopx/1.jpg';
import barbershopx_2 from '../assets/fulls/barbershopx/2.jpg';
import barbershopx_3 from '../assets/fulls/barbershopx/3.jpg';
import barbershopx_4 from '../assets/fulls/barbershopx/4.jpg';
import barbershopx_5 from '../assets/fulls/barbershopx/5.jpg';
import barbershopx_6 from '../assets/fulls/barbershopx/6.jpg';
import barbershopx_7 from '../assets/fulls/barbershopx/7.jpg';
import barbershopx_8 from '../assets/fulls/barbershopx/8.jpg';

import CASA_IRD_1 from '../assets/fulls/CASA_IRD/1.jpg';
import CASA_IRD_2 from '../assets/fulls/CASA_IRD/2.jpg';
import CASA_IRD_3 from '../assets/fulls/CASA_IRD/3.jpg';
import CASA_IRD_4 from '../assets/fulls/CASA_IRD/4.jpg';
import CASA_IRD_5 from '../assets/fulls/CASA_IRD/5.jpg';
import CASA_IRD_6 from '../assets/fulls/CASA_IRD/D1.jpg';
import CASA_IRD_7 from '../assets/fulls/CASA_IRD/D2.jpg';
import CASA_IRD_8 from '../assets/fulls/CASA_IRD/D3.jpg';

import SHISHA_BAR_1 from '../assets/fulls/SHISHA_BAR/1.jpg';
import SHISHA_BAR_2 from '../assets/fulls/SHISHA_BAR/2.jpg';
import SHISHA_BAR_3 from '../assets/fulls/SHISHA_BAR/3.jpg';
import SHISHA_BAR_4 from '../assets/fulls/SHISHA_BAR/4.jpg';

import MDR_INT_1 from '../assets/fulls/MDR_INT/1.jpg';
import MDR_INT_2 from '../assets/fulls/MDR_INT/2.jpg';
import MDR_INT_3 from '../assets/fulls/MDR_INT/3.jpg';
import MDR_INT_4 from '../assets/fulls/MDR_INT/4.jpg';
import MDR_INT_5 from '../assets/fulls/MDR_INT/5.jpg';

import DRM_1 from '../assets/fulls/DRM/1.jpg';
import DRM_2 from '../assets/fulls/DRM/2.jpg';
import DRM_3 from '../assets/fulls/DRM/3.jpg';
import DRM_4 from '../assets/fulls/DRM/4.jpg';
import DRM_5 from '../assets/fulls/DRM/6.jpg';

import DRM2_1 from '../assets/fulls/DRM_2/1.jpg';
import DRM2_2 from '../assets/fulls/DRM_2/2.jpg';
import DRM2_3 from '../assets/fulls/DRM_2/3.jpg';
import DRM2_4 from '../assets/fulls/DRM_2/4.jpg';

import LVG1_1 from '../assets/fulls/LVG1/1.jpg';
import LVG1_2 from '../assets/fulls/LVG1/2.jpg';
import LVG1_3 from '../assets/fulls/LVG1/3.jpg';
import LVG1_4 from '../assets/fulls/LVG1/4.jpg';
import LVG1_5 from '../assets/fulls/LVG1/5.jpg';

import LVG2_1 from '../assets/fulls/LVG2/1.jpg';
import LVG2_2 from '../assets/fulls/LVG2/2.jpg';
import LVG2_3 from '../assets/fulls/LVG2/3.jpg';
import LVG2_4 from '../assets/fulls/LVG2/4.jpg';

import LVG3_1 from '../assets/fulls/LVG3/1.jpg';
import LVG3_2 from '../assets/fulls/LVG3/2.jpg';
import LVG3_3 from '../assets/fulls/LVG3/3.jpg';

import KTC2_1 from '../assets/fulls/KTC2/1.jpg';
import KTC2_2 from '../assets/fulls/KTC2/2.jpg';
import KTC2_3 from '../assets/fulls/KTC2/3.jpg';

import bth1_1 from '../assets/fulls/bth1/1.jpg';
import bth1_2 from '../assets/fulls/bth1/2.jpg';

import bth3_1 from '../assets/fulls/bth3/1.jpg';
import bth3_2 from '../assets/fulls/bth3/2.jpg';
import bth3_3 from '../assets/fulls/bth3/3.jpg';

---

<!-- Two -->
<section id="two">
	<h2>AP_9</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_8.src} class="image fit thumb"><Image src={ap9_8} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_9.src} class="image fit thumb"><Image src={ap9_9} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_7.src} class="image fit thumb"><Image src={ap9_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_11.src} class="image fit thumb"><Image src={ap9_11} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_6.src} class="image fit thumb"><Image src={ap9_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_4.src} class="image fit thumb"><Image src={ap9_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_5.src} class="image fit thumb"><Image src={ap9_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_10.src} class="image fit thumb"><Image src={ap9_10} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_2.src} class="image fit thumb"><Image src={ap9_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_3.src} class="image fit thumb"><Image src={ap9_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>	
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap9_1.src} class="image fit thumb"><Image src={ap9_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>

	<h2>AP_8</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_1.src} class="image fit thumb"><Image src={ap8_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_2.src} class="image fit thumb"><Image src={ap8_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_3.src} class="image fit thumb"><Image src={ap8_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_4.src} class="image fit thumb"><Image src={ap8_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_5.src} class="image fit thumb"><Image src={ap8_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_6.src} class="image fit thumb"><Image src={ap8_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_7.src} class="image fit thumb"><Image src={ap8_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_8.src} class="image fit thumb"><Image src={ap8_8} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_9.src} class="image fit thumb"><Image src={ap8_9} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap8_10.src} class="image fit thumb"><Image src={ap8_10} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>			
	</div>

	<h2>AP_4</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_1.src} class="image fit thumb"><Image src={ap4_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_2.src} class="image fit thumb"><Image src={ap4_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_3.src} class="image fit thumb"><Image src={ap4_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_4.src} class="image fit thumb"><Image src={ap4_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_5.src} class="image fit thumb"><Image src={ap4_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_6.src} class="image fit thumb"><Image src={ap4_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_7.src} class="image fit thumb"><Image src={ap4_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_8.src} class="image fit thumb"><Image src={ap4_8} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_9.src} class="image fit thumb"><Image src={ap4_9} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_10.src} class="image fit thumb"><Image src={ap4_10} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_11.src} class="image fit thumb"><Image src={ap4_11} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap4_12.src} class="image fit thumb"><Image src={ap4_12} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>			
	</div>

	<h2>AP_WBISBI</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_1.src} class="image fit thumb"><Image src={apwbisbi_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_2.src} class="image fit thumb"><Image src={apwbisbi_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_3.src} class="image fit thumb"><Image src={apwbisbi_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_4.src} class="image fit thumb"><Image src={apwbisbi_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_5.src} class="image fit thumb"><Image src={apwbisbi_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_6.src} class="image fit thumb"><Image src={apwbisbi_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_7.src} class="image fit thumb"><Image src={apwbisbi_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_8.src} class="image fit thumb"><Image src={apwbisbi_8} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_9.src} class="image fit thumb"><Image src={apwbisbi_9} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_10.src} class="image fit thumb"><Image src={apwbisbi_10} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_11.src} class="image fit thumb"><Image src={apwbisbi_11} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_12.src} class="image fit thumb"><Image src={apwbisbi_12} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_13.src} class="image fit thumb"><Image src={apwbisbi_13} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_14.src} class="image fit thumb"><Image src={apwbisbi_14} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={apwbisbi_15.src} class="image fit thumb"><Image src={apwbisbi_15} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>			
	</div>

	<h2>AP_1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap1_1.src} class="image fit thumb"><Image src={ap1_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap1_2.src} class="image fit thumb"><Image src={ap1_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap1_3.src} class="image fit thumb"><Image src={ap1_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap1_4.src} class="image fit thumb"><Image src={ap1_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>	
	</div>

	<h2>CASA_IRD</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={CASA_IRD_1.src} class="image fit thumb"><Image src={CASA_IRD_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={CASA_IRD_2.src} class="image fit thumb"><Image src={CASA_IRD_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={CASA_IRD_3.src} class="image fit thumb"><Image src={CASA_IRD_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={CASA_IRD_4.src} class="image fit thumb"><Image src={CASA_IRD_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={CASA_IRD_5.src} class="image fit thumb"><Image src={CASA_IRD_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={CASA_IRD_6.src} class="image fit thumb"><Image src={CASA_IRD_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={CASA_IRD_7.src} class="image fit thumb"><Image src={CASA_IRD_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={CASA_IRD_8.src} class="image fit thumb"><Image src={CASA_IRD_8} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>

	<h2>BARBER_SHOP_X</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={barbershopx_1.src} class="image fit thumb"><Image src={barbershopx_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={barbershopx_2.src} class="image fit thumb"><Image src={barbershopx_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={barbershopx_3.src} class="image fit thumb"><Image src={barbershopx_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={barbershopx_4.src} class="image fit thumb"><Image src={barbershopx_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={barbershopx_5.src} class="image fit thumb"><Image src={barbershopx_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={barbershopx_6.src} class="image fit thumb"><Image src={barbershopx_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={barbershopx_7.src} class="image fit thumb"><Image src={barbershopx_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={barbershopx_8.src} class="image fit thumb"><Image src={barbershopx_8} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>

	<h2>SHISHA_BAR</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={SHISHA_BAR_1.src} class="image fit thumb"><Image src={SHISHA_BAR_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={SHISHA_BAR_2.src} class="image fit thumb"><Image src={SHISHA_BAR_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={SHISHA_BAR_3.src} class="image fit thumb"><Image src={SHISHA_BAR_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={SHISHA_BAR_4.src} class="image fit thumb"><Image src={SHISHA_BAR_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>	
	</div>

	<h2>AP_6</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_1.src} class="image fit thumb"><Image src={ap6_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_2.src} class="image fit thumb"><Image src={ap6_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_3.src} class="image fit thumb"><Image src={ap6_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_4.src} class="image fit thumb"><Image src={ap6_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_5.src} class="image fit thumb"><Image src={ap6_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_6.src} class="image fit thumb"><Image src={ap6_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_7.src} class="image fit thumb"><Image src={ap6_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>

	<h2>MDR_INT</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={MDR_INT_1.src} class="image fit thumb"><Image src={MDR_INT_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={MDR_INT_2.src} class="image fit thumb"><Image src={MDR_INT_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={MDR_INT_3.src} class="image fit thumb"><Image src={MDR_INT_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={MDR_INT_4.src} class="image fit thumb"><Image src={MDR_INT_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={MDR_INT_5.src} class="image fit thumb"><Image src={MDR_INT_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>DRM_1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_1.src} class="image fit thumb"><Image src={DRM_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_2.src} class="image fit thumb"><Image src={DRM_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_3.src} class="image fit thumb"><Image src={DRM_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_4.src} class="image fit thumb"><Image src={DRM_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_5.src} class="image fit thumb"><Image src={DRM_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>
	
	<h2>DRM_2</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM2_1.src} class="image fit thumb"><Image src={DRM2_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM2_2.src} class="image fit thumb"><Image src={DRM2_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM2_3.src} class="image fit thumb"><Image src={DRM2_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM2_4.src} class="image fit thumb"><Image src={DRM2_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>		
	</div>

	<h2>LVG_1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_1.src} class="image fit thumb"><Image src={LVG1_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_2.src} class="image fit thumb"><Image src={LVG1_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_3.src} class="image fit thumb"><Image src={LVG1_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_4.src} class="image fit thumb"><Image src={LVG1_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_5.src} class="image fit thumb"><Image src={LVG1_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>LVG_2</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_1.src} class="image fit thumb"><Image src={LVG2_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_2.src} class="image fit thumb"><Image src={LVG2_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_3.src} class="image fit thumb"><Image src={LVG2_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_4.src} class="image fit thumb"><Image src={LVG2_4} alt="" class="cover-fit" width="300" height="300"  /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>LVG_3</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG3_1.src} class="image fit thumb"><Image src={LVG3_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG3_2.src} class="image fit thumb"><Image src={LVG3_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG3_3.src} class="image fit thumb"><Image src={LVG3_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>KTC_2</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={bth3_1.src} class="image fit thumb"><Image src={bth3_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={bth3_2.src} class="image fit thumb"><Image src={bth3_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={bth3_3.src} class="image fit thumb"><Image src={bth3_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>BTH_1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={bth1_1.src} class="image fit thumb"><Image src={bth1_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={bth1_2.src} class="image fit thumb"><Image src={bth1_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>

	<h2>BTH_3</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={KTC2_1.src} class="image fit thumb"><Image src={KTC2_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={KTC2_2.src} class="image fit thumb"><Image src={KTC2_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={KTC2_3.src} class="image fit thumb"><Image src={KTC2_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#10022;</h3>
		</article>
	</div>
</section>
