---
import { Image } from "astro:assets"

import ap6_1 from '../assets/fulls/ap6/01.jpg';
import ap6_2 from '../assets/fulls/ap6/02.jpg';
import ap6_3 from '../assets/fulls/ap6/03.jpg';
import ap6_4 from '../assets/fulls/ap6/04.jpg';
import ap6_5 from '../assets/fulls/ap6/05.jpg';
import ap6_6 from '../assets/fulls/ap6/06.jpg';
import ap6_7 from '../assets/fulls/ap6/07.jpg';

import INT_1 from '../assets/fulls/INT/1.jpg';
import INT_2 from '../assets/fulls/INT/2.jpg';
import INT_3 from '../assets/fulls/INT/3.jpg';
import INT_4 from '../assets/fulls/INT/4.jpg';
import INT_5 from '../assets/fulls/INT/5.jpg';

import DRM_1 from '../assets/fulls/DRM/1.jpg';
import DRM_2 from '../assets/fulls/DRM/2.jpg';
import DRM_3 from '../assets/fulls/DRM/3.jpg';
import DRM_4 from '../assets/fulls/DRM/4.jpg';
import DRM_5 from '../assets/fulls/DRM/6.jpg';

import LVG1_1 from '../assets/fulls/LVG1/1.jpg';
import LVG1_2 from '../assets/fulls/LVG1/2.jpg';
import LVG1_3 from '../assets/fulls/LVG1/3.jpg';
import LVG1_4 from '../assets/fulls/LVG1/4.jpg';
import LVG1_5 from '../assets/fulls/LVG1/5.jpg';

import LVG2_1 from '../assets/fulls/LVG2/1.jpg';
import LVG2_2 from '../assets/fulls/LVG2/2.jpg';
import LVG2_3 from '../assets/fulls/LVG2/3.jpg';
import LVG2_4 from '../assets/fulls/LVG2/4.jpg';

---

<!-- Two -->
<section id="two">
	<h2>AP6</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_1.src} class="image fit thumb"><Image src={ap6_1} alt="" class="cover-fit" width="300" height="300"/></a>
			<h3 class="align-center">&#8226;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_2.src} class="image fit thumb"><Image src={ap6_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#8226;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_3.src} class="image fit thumb"><Image src={ap6_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#8226;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_4.src} class="image fit thumb"><Image src={ap6_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#8226;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_5.src} class="image fit thumb"><Image src={ap6_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#8226;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_6.src} class="image fit thumb"><Image src={ap6_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#8226;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={ap6_7.src} class="image fit thumb"><Image src={ap6_7} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#8226;</h3>
		</article>		
	</div>

	<h2>INT</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_1.src} class="image fit thumb"><Image src={INT_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_2.src} class="image fit thumb"><Image src={INT_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_3.src} class="image fit thumb"><Image src={INT_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_4.src} class="image fit thumb"><Image src={INT_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={INT_5.src} class="image fit thumb"><Image src={INT_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
	</div>

	<h2>DRM</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_1.src} class="image fit thumb"><Image src={DRM_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_2.src} class="image fit thumb"><Image src={DRM_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_3.src} class="image fit thumb"><Image src={DRM_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_4.src} class="image fit thumb"><Image src={DRM_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={DRM_5.src} class="image fit thumb"><Image src={DRM_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>		
	</div>

	<h2>LVG1</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_1.src} class="image fit thumb"><Image src={LVG1_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_2.src} class="image fit thumb"><Image src={LVG1_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_3.src} class="image fit thumb"><Image src={LVG1_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_4.src} class="image fit thumb"><Image src={LVG1_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG1_5.src} class="image fit thumb"><Image src={LVG1_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
	</div>

	<h2>LVG2</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_1.src} class="image fit thumb"><Image src={LVG2_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_2.src} class="image fit thumb"><Image src={LVG2_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_3.src} class="image fit thumb"><Image src={LVG2_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={LVG2_4.src} class="image fit thumb"><Image src={LVG2_4} alt="" class="cover-fit" width="300" height="300"  /></a>
			<h3 class="align-center">&#9733;</h3>
		</article>
	</div>
</section>
