---
import { Image } from "astro:assets"
import { Picture } from 'astro:assets';

import full_1 from '../assets/fulls/ap6/01.jpg';
import full_2 from '../assets/fulls/DRM/1.jpg';
import full_3 from '../assets/fulls/ap9/10.jpg';
import full_4 from '../assets/fulls/LVG1/1.jpg';
import full_5 from '../assets/fulls/adr03/7.jpeg';
import full_6 from '../assets/fulls/bth3/3.jpg';
---

<!-- Two -->
<section id="two">
	<h2>Recent Work</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_5.src} class="image fit thumb"><Picture src={full_5} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3>adr_003</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_3.src} class="image fit thumb"><Image src={full_3} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3>ap_009</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_1.src} class="image fit thumb"><Picture src={full_1} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3>ap_006</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_2.src} class="image fit thumb"><Picture src={full_2} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3>drm_001</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_4.src} class="image fit thumb"><Image src={full_4} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3>lvg_001</h3>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_6.src} class="image fit thumb"><Image src={full_6} alt="" class="cover-fit" width="300" height="300" /></a>
			<h3>bth_003</h3>
		</article>
	</div>
	<ul class="actions">
		<li><a href="/portfolio" class="button">Full Portfolio</a></li>
	</ul>
</section>
